img {
    width: 380px;
    height: 250px;
    border: 1px solid white;
    border-radius: 10px;
}

.card {
    width: 380px;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 60px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

h5 {
    background-color: rgb(238, 165, 31);
    color: aliceblue;
    font-size: medium;
    font-weight: 500;
    padding: 3px 8px;
    border: 1px solid rgb(248, 175, 39);
    border-radius: 7px;
    letter-spacing: 1px;
}

h2 {
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 23px;
}

p {
    color: gray;
    padding: 0px 20px;
    line-height: 30px;
    text-align: start;
}
